/*
 * custom.css
 * JBICT が独自に追加したCSS
 */
 
/* header */

#header #block-language-switcher ul li {
  display: inline;
  margin: 0 0.5em;
}

#header input#edit-keys {
  border: 1px solid #;
}

/* main */
.main-left-column {
  float: left;
  width: 50%;
  margin-right: 1em;
}
.main-right-column {
  float: right;
  width: 45%;
}

.view-jbict-update {
 border-top: 2px solid #006600;
 padding-bottom: 1em;
}

.view-jbict-journal-report {
 border-top: 2px solid #00ff66;
 padding-bottom: 1em;
}

.view-recent-podcast {
 border-top: 2px solid #ff6600;
 margin-top: 2em;
 padding-bottom: 1em;
}

.view-recent-clips {
 border-top: 2px solid #0066ff;
 padding-bottom: 1em;
}

.item-list ul {
 margin: 0.5em 0;
 clear: both;
}
.item-list ul li {
 margin: 0 0 0.5em;
}



.more-link {
 clear: both;
}

