/*
 * custom.css
 * JBICT が独自に追加したCSS
 */
 
.view-jbict-update {
  border-top: 2px solid #006600;
}

.view-recent-podcast {
  border-top: 2px solid #ff6600;
}

.view-recent-clips {
  border-top: 2px solid #0066ff;
}

.main-left-column {
  float: left;
  width: 45%;
  margin-right: 1em;
}
.main-right-column {
  float: right;
  width: 45%;
}


